/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background-color: #4a4848;
  color: #fff;
  margin: 0;
  padding: 0;
}
